.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  & > * {
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: transparent;
    float: left; // must hava height and width
    -webkit-shape-outside: circle(50% at 50% 50%); /* make it works on Safari */
    shape-outside: circle(50% at 50% 50%); // make it float around circle
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); // make it looks like circle
    transform: translateX(-3rem) skewX(12deg); // avoid to use margin for moving an elemenmts in this case
  }

  &__img {
    height: 100%;
  }

  &__text {
    transform: skewX(12deg);
  }
}
